/* ------------------------------------------------------------ */
/*          P O L I C E S                                       */
/* ------------------------------------------------------------ */
@font-face {
    font-family: 'josefin_sansregular';
    src: url('josefinsans-regular-standardfont.eot');
    src: url('josefinsans-regular-standardfont.eot?#iefix') format('embedded-opentype'),
         url('josefinsans-regular-standardfont.woff') format('woff'),
         url('josefinsans-regular-standardfont.ttf') format('truetype'),
         url('josefinsans-regular-standardfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ------------------------------------------------------------ */
/*          P O S I T I O N N E M E N T   G L O B A L E         */
/* ------------------------------------------------------------ */

html {
    width: 100%;
    height: 100%;
}

/* Display felx colonne de base */
body {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    flex-direction: column;
    background-color: #565554;

    color: #fa8334;
    font-family: josefin_sansregular, sans-serif;
}

body > * {
    box-sizing: border-box; 
}

.flex-container-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
    justify-content: center;
}

.flex-container-rows-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
    
    align-items: center;
    justify-content: center;
}

.flex-container-rows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-container-columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    flex-direction: column;
}

/* ------------------------------------------------------------ */
/*          L E   T I T R E                                     */
/* ------------------------------------------------------------ */

.title {
    width: 100%;
    height: 50px;
    background-color: #0b8ca5;
    padding-left: 20px;
    margin-bottom: 20px;
}

/* ------------------------------------------------------------ */
/*          L E   C O R P S                                     */
/* ------------------------------------------------------------ */

.title-bar {
    height: 45px;
    margin-bottom: 15px;
}

.title-bar h2 {
    font-size: 20pt;
    /* margin-left: 15px; */
    font-family: josefin_sansregular, sans-serif;
}

.corps {
    padding-left: 20px;
    padding-right: 20px;
}


.fullpicture-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

.fullpicture-container div {
    width: 100%;
    text-align: center;
}

.fullpicture-container div img {
    max-width: 100%;
}

/* ------------------------------------------------------------ */
/*          M E N U                                             */
/* ------------------------------------------------------------ */

.menu {
    width: 300px;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 1;
    background-color: #0b8ca5;
    overflow-x: hidden;
    padding: 0px 20px 0px 20px;
    transition: 0.5s;
}

.menu .closebtn {
    font-size: 35px;
}

.menu .element {
    transition: 0.3s;
}

.menu .element:hover {
    color: #f1f1f1;
}

.menu a {
    text-decoration: none;
    font-size: 25px;
    color: inherit;
    padding-left: 20px;
    transition: 0.3s;
}

.menu a:hover {
    color: #f1f1f1;
    text-decoration: none;
    padding-left: 30px;
}



.menu.closed {
    left: -300px;
}

/* ------------------------------------------------------------ */
/*          L E S   B O U T T O N S                             */
/* ------------------------------------------------------------ */

.switchButton {
    width: 45px;
    /* background-color: aquamarine; */
    background: url(../pictures/icons/switch.svg);
    background-size: 45px 45px;
    cursor: pointer;
}

.switchButton:hover {
    width: 45px;
    /* background-color: aquamarine; */
    background: url(../pictures/icons/switch_hover.svg);
    background-size: 45px 45px;
    cursor: pointer;
}

.menu-icon {
    width: 45px;
    /* background-color: aquamarine; */
    background: url(../pictures/icons/menu.svg);
    background-size: 45px 45px;
    cursor: pointer;
}

.play-icon {
    width: 45px;
    /* background-color: aquamarine; */
    background: url(../pictures/icons/play.svg);
    background-size: 45px 45px;
    /* cursor: pointer; */
}

/* ------------------------------------------------------------ */
/*          L E S   E T A T S                                   */
/* ------------------------------------------------------------ */

.display-none {
    display: none;
}

/* ------------------------------------------------------------ */
/*          B U T T O N     G R O U P                           */
/* ------------------------------------------------------------ */

.button-group {
    margin-left: 20px;
    height: 30px;
}

.button-group button {
    width: 70px;
    background-color: transparent;
    color: #fa8334;
    border: 1px solid #fa8334;
    cursor: pointer;
    transition: 0.3s;
}

.button-group button:first-child {
    border-right: none
}

.button-group button:last-child {
    border-left: none
}

.button-group button:hover {
    color: #0b8ca5;
    border-color: #0b8ca5;
}

/* ------------------------------------------------------------ */
/*          A R T I C L E S                                     */
/* ------------------------------------------------------------ */

.preview-list {
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
}

.preview-list article {
    width: 368px;
    height: 302px;
    /* border: 1px solid #fa8334; */
    margin: 10px 10px 10px 10px;
    background-color: #0b8ca5;
}

.preview-list article span {
    align-self: center;
    color: #fa8334;
    padding-top: 5px;
    padding-bottom: 5px;
}

.preview-image {
    width: 368px;
    height: 272px;
}